---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pritunl.fullname" . }}
  labels:
{{ include "pritunl.labels" . | indent 4 }}
{{- with .Values.service.annotations }}
  annotations:
{{ tpl (toYaml .) $ | indent 4 }}
{{- end }}
spec:
  type: LoadBalancer
  {{- if .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- if.Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- with .Values.service.loadBalancerSourceRanges }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  ports:
    - name: openvpn
      port: {{ .Values.service.port }}
      targetPort: openvpn
      protocol: {{ .Values.service.protocol }}
  selector:
    app: {{ include "pritunl.name" . }}
    release: {{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pritunl.fullname" . }}-web
  labels:
{{ include "pritunl.labels" . | indent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      targetPort: https
  selector:
    app: {{ include "pritunl.name" . }}
    release: {{ .Release.Name }}
