apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bor.fullname" . }}-scripts
  labels:
    {{- include "bor.labels" . | nindent 4 }}
data:
  check-readiness.sh: |-
    {{- include (print $.Template.BasePath "/scripts/_check-readiness.tpl") . | nindent 4 }}
  init-genesis.sh: |-
    {{- include (print $.Template.BasePath "/scripts/_init-genesis.tpl") . | nindent 4 }}
  download-snapshot.sh: |-
    {{- include (print $.Template.BasePath "/scripts/_download-snapshot.tpl") . | nindent 4 }}
