{{- if .Values.proxysql_cluster.enabled -}}
admin_credentials={{ printf "%s:%s;%s:%s" (.Values.secret.admin_user) (.Values.secret.admin_password) (.Values.proxysql_cluster.secret.cluster_username) (.Values.proxysql_cluster.secret.cluster_password) | toJson }}
cluster_username={{ .Values.proxysql_cluster.secret.cluster_username | toJson }}
cluster_password={{ .Values.proxysql_cluster.secret.cluster_password | toJson }}
{{- else -}}
admin_credentials={{ printf "%s:%s" (.Values.secret.admin_user) (.Values.secret.admin_password) | toJson }}
{{- end }}
