{{- if .Values.plugins.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "agave.fullname" $ }}-plugins-config
  labels:
    {{- include "agave.labels" . | nindent 4 }}
data:
  {{- if .Values.plugins.yellowstoneGRPC.enabled }}
  yellowstone-grpc-config.json: |-
    {{- if .Values.plugins.yellowstoneGRPC.config }}
    {{- .Values.plugins.yellowstoneGRPC.config | nindent 4 }}
    {{- else }}
    {{- toPrettyJson .Values.plugins.yellowstoneGRPC.configYaml | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if .Values.plugins.richat.enabled }}
  richat-config.json: |-
    {{- if .Values.plugins.richat.config }}
    {{- .Values.plugins.richat.config | nindent 4 }}
    {{- else }}
    {{- toPrettyJson .Values.plugins.richat.configYaml | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
