name: Lint and Test Charts
on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0
      -
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      -
        uses: helm/chart-testing-action@v2.1.0
      -
        name: Config chart-testing
        run: cp .github/ct.yaml $CT_CONFIG_DIR
      -
        name: Lint chart-testing
        run: ct lint
      -
        name: Changes chart-testing
        id: charts
        run: |
          # Get library chart list
          ls -1 dysnix/*/Chart.yaml | xargs grep -E "type:\s+library" | sed 's/\/Chart.yaml.*//' > /tmp/_library_charts || /bin/true
          # Get ct detailed output (excluding control output)
          ct list-changed | sed '/^>>>.*/d' > /tmp/_changed_charts
          # Create list of charts to test
          test_charts=$(grep -v -x -f /tmp/_library_charts /tmp/_changed_charts 2>/dev/null || /bin/true)
          # Exclude library charts (comma separated list)
          exclude_charts=$(cat /tmp/_library_charts | sed '/^ *$/d;N;s/\n/,/')

          if [[ -n "$test_charts" ]]; then
            echo "::set-output name=testing::true"
          fi
          if [[ -n "$exclude_list" ]]; then
            echo "::set-output name=excluded-charts::--excluded-charts ${exclude_list}"
          fi
      -
        name: Create Kubernetes Cluster (kind)
        uses: helm/kind-action@v1.2.0
        if: steps.charts.outputs.testing == 'true'
      -
        name: Install Charts chart-testing
        run: ct install ${{ steps.charts.outputs.excluded-charts }}
        if: steps.list-changed.outputs.testing == 'true'
